<h2>Your merchants</h2>
<br>
  <table>
    <% @merchants.each do |merchant| %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    </tr>
    <% end %>
</table>
  <br><br>
    <h4><a href="/merchants/new">Add new merchant</a></h4>
<br><br>
