<h2>Add new merchant:</h2>
<br>
<h3><%= @error %></h3>
<br>
<form action="/merchants" method="post">
  <label for="name">Your new merchant:</label>
    <input id="name" type="text" name="name">
    <input type="submit" value="Save merchant">
