<h2>Merchant details</h2>
  <br>
    <p>Name: <%= @merchant.name %></p>
    <p>You have used this merchant <%= @merchant.frequency %> times!</p>
  <br>
    <form action="/merchants/<%= @merchant.id %>/update" method="get">
      <input type="submit" value="Edit merchant">
    </form>
    <form action="/merchants/<%= @merchant.id %>/delete" method="post">
    <input type="submit" value="Delete merchant">
    </form>
