<h1>Hello!</h1>
  <br><br>
    <h3>Your remaining budget is:</h3>
    <p><%= @remaining_budget %></p>
  <br><br>
    <h4><a href="/transactions/new">Add new payment</a></h4>
    <h4><a href="/budget/update">Edit budget</a></h4>
