<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Money Tracker</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/transactions">Your payments</a></li>
        <li><a href="/merchants">Your merchants</a></li>
        <li><a href="/tags">Your tags</a></li>
      </ul>
    </nav>
      <%= yield %>
  </body>
</html>
