<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/circle.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/searchbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/welcome.css">
    <link rel="icon" href="/images/icon.png">
    <title>OnTrack</title>
  </head>
  <body>
      <div class="nav topnav">
        <a href="/">Home</a>
        <a href="/transactions">Your payments</a>
        <% if @large_logo %>
          <div id="biglogo">OnTrack</div>
        <% else %>
          <div id="smalllogo">OnTrack</div>
        <% end %>
        <a href="/merchants">Your merchants</a>
        <a href="/tags">Your tags</a>
      </div>
      <div class="half-width-wrapper" <%= @wrapper_id %>>
        <%= yield %>
      </div>
      <div class="nav bottomnav">
        <a href="/">Home</a>
        <a href="/transactions/new">Add new payment</a>
        <a href="/budget/update">Edit budget</a>
      </div>
  </body>
</html>
