<h2>Update your budget</h2>
  <br>
  <h3><%= @error %></h3>
  <br>
    <form action="/budget" method="post">
      <label for="amount">Your new budget:</label>
        <input id="amount" type="text" name="amount">
        <input type="submit" value="Save budget">
      </form>
    <br><br>
