<h2>Your tags</h2>
<br>
  <table>
    <% @tags.each do |tag| %>
    <tr>
      <td><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    </tr>
    <% end %>
</table>
  <br><br>
    <h4><a href="/tags/new">Add new tag</a></h4>
  <br><br>
