<h2>Tag details</h2>
  <br>
    <p>Name: <%= @tag.name %></p>
    <p>You have used this tag <%= @tag.frequency %> times!</p>
  <br>
    <p>Edit tag: </p>
    <form action="/tags/<%= @tag.id %>/delete" method="post">
    <input type="submit" value="Delete tag">
    </form>
  <br>
