input[type=button], input[type=submit] {
  background-color:#1a1a1a;
  color: #cccccc;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 70%;
}

select {
  color: #cccccc;
  background: transparent;
  padding: 2px 10px;
  background-color: #1a1a1a;
  opacity: 40%;
}
