html {
  box-sizing: border-box;
  min-height: 100%;
  background-image: url('/images/cash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: auto;
  width: 100%;
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  color: #1a1a1a;
  text-align: center;
  text-shadow: 0.5px 0.5px #f2f2f2;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #00cc00;
  content: "";
}

.circle-outer-wrapper {
  background-color: transparent;
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 2em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 4em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}

.green {
  background-color: #228B22;
}

.orange {
  background-color: #DAA520;
}

.red {
  background-color: #B22222;
}
