#logo {
  font-family: 'Galada', cursive;
  background: -webkit-linear-gradient(#861657, #ffa69e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10em;
  text-align: center;
  width: 100%;
}
