<h2>Your transactions</h2>
<br>
  <table>
    <tr>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Time</th>
      <th>Tags</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.merchant_name %></td>
      <td><%= transaction.time_inserted %></td>
      <td><%= transaction.tag_names %></td>
    </tr>
    <% end %>
</table>
  <br><br>
    <h4><a href="/transactions/new">Add new payment</a></h4>
