<h2>Add new payment:</h2>

<form action="/transactions" method="post">
  <label for="amount">Payment amount:</label>
    <input id="amount" type="text" name="amount">
    <br>
  <label for="merchant">Merchant:</label>
      <select id="merchant" name="merchant_id">
        <% for merchant in @merchants %>
        <option value= "<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
        <option value="other">New merchant</option>
      </select>
      <input id="new_merchant" type="text" name="merchant_id" style='display:none'/>
      <br>
    <input type="submit" value="Save payment">
  </form>
