<h4>Your remaining budgets at the end of the month have looked like this:</h4>
  <br><br>
    <h3>January 2020</h3>
      <p>
        <%= Budget.past_remaining_monthly_budget(01) %>
      </p>
      <br>
    <h3>December 2019</h3>
      <p>
        <%= Budget.past_remaining_monthly_budget(12) %>
      </p>
      <br>
    <h3>November 2019</h3>
      <p>
        <%= Budget.past_remaining_monthly_budget(11) %>
      </p>
      <br>
    <h3>October 2019</h3>
      <p>
        <%= Budget.past_remaining_monthly_budget(10) %>
      </p>
      <br>
